<?xml version="1.0"?>

<configuration>
        <system.web>
                <compilation targetFramework="4.0" debug="true">
                </compilation>
        </system.web>

        <connectionstrings>
                <add name="dbConn" connectionString="Server=.\SQLEXPRESS;Database=db;Trusted_Connection=Yes;">
                </add>
        </connectionstrings>
</configuration>