<?xml version="1.0"?>

<configuration>
        <system.web>
                <compilation targetFramework="4.0" debug="true">
                </compilation>
        </system.web>

        <connectionstrings>
                <add name="DemoConn" providerName="System.Data.SqlClient" connectionString="Data Source=tcp:dbdemo01.database.windows.net,1433;Initial Catalog=Demo;Integrated Security=False;User Id=dbuser@dbdemo01;Password=T3rr@f0rm!P0w3r;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True" />
                </add>
        </connectionstrings>
</configuration>