<?xml version="1.0"?>

<configuration>
        <system.web>
                <compilation targetFramework="4.0" debug="true">
                </compilation>
        </system.web>

        <connectionstrings>
                <add name="dbConn" connectionString="Server=tcp:dbdemo01.database.windows.net,1433;Initial Catalog=demo;Persist Security Info=False;User ID=dbuser;Password=T3rr@f0rm!P0w3r;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;">
                </add>
        </connectionstrings>
</configuration>